*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.center{
    display: flex;
    flex-wrap: nowrap;
    max-width: 960px;
    margin: 0 auto;
    padding:0 2%;
}

header{
    width: 100%;
    align-items: center;
    background: rgb(34, 109, 34);
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;

}

.pes{
    width: 50%; 
}

.menu{
    width: 100%;
    text-align: right;
    padding-top: 50px;
    background-color: rgb(34, 109, 34);
}

.menu a{
    Color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    margin-right: 50px;
}
